
<h1 style="margin-left: 20%;color:#1b5e20">Composition trousse à pharmacie</h1>

<div class="inLine" *ngFor="let product of productList">
    <div class="card small" (click)="goToProduct(product)">
        <div class="card-image">
            <img class="photo" [src]="product?.photo" alt="Photo du produit {{product.name}}">
        </div>
        <div class="card-content">
            <!--<a routerLink="/detail/{{product.id}}"><span class="card-title">{{product.name}}</span></a>-->
            <span class="card-title">{{product.name}}</span>
            <span class="datepicker">Date d'expiration : {{product.expirationDate | date:'dd/MM/YYYY'}}</span>

        </div>
    </div>
</div>