<nav>
  <div class="nav-wrapper">
    <img class="burgerMenu left" src="./assets/img/menuBurgerWhite.png" alt="Menu burger">
    <a href="#" class="brand-logo center">{{title | uppercase }}</a>
    <img class="trousse right" src="./assets/img/trousse-a-pharmacie.jpeg" alt="Icone trousse à pharmacie">
  </div>
</nav>

<!-- Partie aperçu liste des produits -->
<section class="ProductList">
  <h1 style="margin-left: 20%;color:#1b5e20">Composition de la trousse</h1>
  <app-products-list></app-products-list>
</section>

