<!-- Dernier produit enregistré -->
<div class="LastProduct">
    <div class="d-flex justify-content-center">
      <h1 class="titleProduct">Derniers produits ajoutés</h1>
    </div>
    <div class="row">
      <div class="productsList">
        <a routerLink="/products/">Voir tous les produits</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        @for (product of productListLastRecord(); track product.recordDate) {
          <div class="col-md-4">
            <div class="card">
                <img class="card-image-top photo" [src]="product.photo" alt="Photo du produit {{product.name}}">
                <div class="card-body">
                    <h3 class="card-title">{{product.name}}</h3>
                    <h6 class="card-text datepicker">Date d'enregistrement : {{product.recordDate| date:'dd/MM/YYYY'}}</h6>
                    <button class="btn btn-link text-decoration-none text-warning" [routerLink]="['/detail/',product.id]">
                      DETAIL DU PRODUIT</button>
                  </div>
            </div>
          </div>
        }
        </div>
    </div>
</div>

<app-filtreproduitperime></app-filtreproduitperime>