
<div class="container mt-5 mb-5">
  <div class="card">
    <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center justify-content-center bg-light">
            <img [src]="product().photo"class="img-fluid rounded-start"
                [alt]="product().name"/>
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <div class="d-flex justify-content-center">
                <h2 class="card-title">{{ product().name }}</h2>
              </div>
              <table class="table">
                  <tbody>
                    <tr>
                      <th>Date d'ajout</th>
                      <td>{{ product().recordDate | date:"dd/MM/yyyy" }}</td>
                    </tr>
                    <tr>
                      <th>Prescrit par qui</th>
                      <td>{{ product().whichDoctor }}</td>
                    </tr>
                    <tr>
                      <th>Dans quel cas</th>
                      <td>{{ product().case}}</td>
                    </tr>
                    <tr>
                      <th>Date de péremption</th>
                      <td><em>{{ product().expirationDate | date:"dd/MM/yyyy" }}</em></td>
                    </tr>
                  </tbody>
              </table>
              <div class="d-flex justify-content-between mt-4">
                  <button class="btn btn-link text-decoration-none text-warning" routerLink="/home">
                      RETOUR</button>
                  <button class="btn btn-link text-decoration-none text-warning">
                      ÉDITER</button>
                  <button class="btn btn-link text-decoration-none text-warning">
                      SUPPRIMER</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>